h3 Hobby
table.u-full-width
  thead
    tr
      th Name
      th Experience
  tbody
  each hobby in contents['hobby.json'].metadata     
    tr
      td(width="15%")= hobby.name
      td= hobby.years + ' years'