extends layout

block content
   br
   br
   include personal
   br
   include hobby
   br
   include work
   br
   include education
   br
   include honors
   br
   include portfolio
   br
   include skills
   br
   include references
   br   
   