h3 Portfolio
each item in contents['portfolio.json'].metadata     
  b 
  b= item.title
  div.row
    div.two.columns 
      br
      img(height="150" width="100" src='images/' + item.image)
      br
      br
    div.seven.columns
      br
      br
      = item.description
